<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"
        style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Events</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Events</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->

<!--Events Page Start-->
<section class="events-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-1.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Play for the world
                                    <br> with us</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-2.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Mission for Fresh
                                    <br>
                                    & Clean Water</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-3.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Education for <br>
                                    poor
                                    children</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-4.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Rights for <br>
                                    street
                                    childrens</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-5.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Help for <br>
                                    needy
                                    people</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!--Events One Single-->
                <div class="events-one__single">
                    <div class="events-one__img">
                        <img src="assets/images/resources/events-page-img-6.jpg" alt="">
                        <div class="events-one__date-box">
                            <p>20 <br> Jan</p>
                        </div>
                        <div class="events-one__bottom">
                            <p><i class="far fa-clock"></i>8:00 pm</p>
                            <h3 class="events-one__bottom-title"><a href="#">Donation day <br>
                                    for
                                    people</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Events Page End-->