
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Becon of Hope Foundation</title>
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
	<link rel="manifest" href="assets/images/favicons/site.webmanifest" />
	<meta name="description" content=
	"Becon of Hope Foundation" />

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">

	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;display=swap" rel="stylesheet">

	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;family=Fredoka+One&amp;display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
	<link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
	<link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
	<link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
	<link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css" />
	<link rel="stylesheet" href="assets/vendors/nouislider/nouislider.pips.css" />
	<link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
	<link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
	<link rel="stylesheet" href="assets/vendors/pifoxen-icons/style.css">
	<link rel="stylesheet" href="assets/vendors/tiny-slider/tiny-slider.min.css" />
	<link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
	<link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
	<link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
	<link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
	<link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
	<link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
	<link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />

	<!-- template styles -->
	<link rel="stylesheet" href="assets/css/pifoxen.css" />
	<link rel="stylesheet" href="assets/css/pifoxen-responsive.css" />
</head>

<body>
	<div class="preloader">
		<img class="preloader__image" width="60" src="assets/images/loader.png" alt="" />
	</div>
	<!-- /.preloader -->
	<div class="page-wrapper">
		<header class="main-header-three clearfix">
			<nav class="main-menu main-munu-three clearfix">
				<div class="main-menu-three__wrapper clearfix">
					<div class="main-menu-three__wrapper-left">
						<div class="main-menu-three__wrapper-logo">
							<a href="#"><img src="assets/images/resources/logo-1.png" alt=""></a>
						</div>
						<div class="main-menu-three-wrapper__main-menu">
							<a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
							<ul class="main-menu__list one-page-scroll-menu">
								<li class="scrollToLink" data-scroll-offset="118"><a href="#home">Home</a></li>
								<li class="scrollToLink" data-scroll-offset="118"><a href="#causes">Causes</a></li>
								<li class="scrollToLink" data-scroll-offset="118"><a href="#events">Events</a></li>
								<li class="scrollToLink" data-scroll-offset="118"><a
										href="#testimonials">Testimonials</a>
								</li>
								<li class="scrollToLink" data-scroll-offset="118"><a href="#faq">Faq</a></li>
								
							</ul>
						</div>
					</div>
					<div class="main-menu-three-wrapper__right">
						<div class="main-menu-three-wrapper__search-cat-donate">
							<a href="#"
								class="main-menu-three-wrapper__search search-toggler icon-magnifying-glass"></a>
							<a href="#"
								class="main-menu-three-wrapper__cart icon-avatar mini-cart__toggler"></a>
							<a href="#" class="donate-btn main-menu-three-wrapper__btn"> <i
									class="fa fa-heart"></i> Donate Now</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="stricky-header stricked-menu main-menu main-munu-three">
			<div class="sticky-header__content"></div><!-- /.sticky-header__content -->
		</div><!-- /.stricky-header -->

		<!--Main Slider Two Start-->
		<section class="main-slider main-slider-three" id="home">
			<div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",
     "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
      },
    "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
    },
    "autoplay": {
        "delay": 5000
    }}'>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="main-slider-three__img">
							<img src="assets/images/resources/main-slider-three-img-1.png" alt="">
						</div>
						<div class="main-slider-three-shape-1"
							style="background-image: url(assets/images/shapes/main-slider-three-shape-1.png);"></div>
						<div class="main-slider-three-map-1"><img src="assets/images/shapes/main-slider-three-map-1.png"
								alt=""></div>
						<div class="container">
							<div class="row">
								<div class="col-xl-6">
									<div class="main-slider__content">
										<p>Help the Poor in Need!</p>
										<h2>Giving hope <br>to the <br> hopeless</h2>
										<a href="#" class="thm-btn">Discover More</a>
										<div class="main-slider__three-icon"><img
												src="assets/images/icon/main-slider-three-icon-1.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="main-slider-three__img">
							<img src="assets/images/resources/main-slider-three-img-2.png" alt="">
						</div>
						<div class="main-slider-three-shape-1"
							style="background-image: url(assets/images/shapes/main-slider-three-shape-1.png);"></div>
						<div class="main-slider-three-map-1"><img src="assets/images/shapes/main-slider-three-map-1.png"
								alt=""></div>
						<div class="container">
							<div class="row">
								<div class="col-xl-6">
									<div class="main-slider__content">
										<p>Help the Poor in Need!</p>
										<h2>Lend the <br> helping hand <br> get involved</h2>
										<a href="#" class="thm-btn">Discover More</a>
										<div class="main-slider__three-icon"><img
												src="assets/images/icon/main-slider-three-icon-1.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="main-slider-three__img">
							<img src="assets/images/resources/main-slider-three-img-3.png" alt="">
						</div>
						<div class="main-slider-three-shape-1"
							style="background-image: url(assets/images/shapes/main-slider-three-shape-1.png);"></div>
						<div class="main-slider-three-map-1"><img src="assets/images/shapes/main-slider-three-map-1.png"
								alt=""></div>
						<div class="container">
							<div class="row">
								<div class="col-xl-6">
									<div class="main-slider__content">
										<p>Help the Poor in Need!</p>
										<h2>Lend the <br> helping hand <br> get involved</h2>
										<a href="#" class="thm-btn">Discover More</a>
										<div class="main-slider__three-icon"><img
												src="assets/images/icon/main-slider-three-icon-1.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- If we need navigation buttons -->
				<div class="swiper-pagination" id="main-slider-pagination"></div>
			</div>
		</section>
		<!--Main Slider Two End-->

		<!--Volunteers And Donating Start-->
		<section class="volunteers-and-donating">
			<div class="volunteers-and-donating__wrap">
				<div class="volunteers-and-donating__left wow slideInLeft" data-wow-delay="100ms"
					data-wow-duration="2500ms"
					style="background-image: url(assets/images/backgrounds/volunteers-and-donating-bg-1.jpg);">
					<div class="volunteers-and-donating__content">
						<h3 class="volunteers-and-donating__title"><a href="#">Become Volunteer</a>
						</h3>
						<p class="volunteers-and-donating__text">There are many variations of passages of lore available
							but the majority have suffered alteration.</p>
						<a href="#" class="thm-btn volunteers-and-donating__btn">Join our team</a>
					</div>
				</div>
				<div class="volunteers-and-donating__right wow slideInRight" data-wow-delay="100ms"
					data-wow-duration="2500ms"
					style="background-image: url(assets/images/backgrounds/volunteers-and-donating-bg-2.jpg);">
					<div class="volunteers-and-donating__content">
						<h3 class="volunteers-and-donating__title"><a href="#">Start Donating</a></h3>
						<p class="volunteers-and-donating__text">There are many variations of passages of lore available
							but the majority have suffered alteration.</p>
						<a href="#" class="thm-btn volunteers-and-donating__btn">donate now</a>
					</div>
				</div>
			</div>
		</section>
		<!--Volunteers And Donating End-->

		<!--Help Theme Start-->
		<section class="help-them" id="causes">
			<div class="container">
				<div class="section-title text-center">
					<span class="section-title__tagline"></span>
					<h2 class="section-title__title">We Help In</h2>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
						<!--Help Theme Single-->
						<div class="help-them__single">
							<div class="help-them__icon">
								<span class="icon-help"></span>
							</div>
							<h3 class="help-them__title"><a href="#">Empowerment</a></h3>
							<p class="help-them__text">Men and women are train in different trade  and also empowered to start on their own.</p>
							<div class="help-them__bottom">
								<a href="#" class="help-them__read-more">Read More</a>
								<a href="#" class="help-them__arrow"><span class="icon-right-arrow"></span></a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
						<!--Help Theme Single-->
						<div class="help-them__single">
							<div class="help-them__icon help-them__icon-clr-primary">
								<span class="icon-graduated"></span>
							</div>
							<h3 class="help-them__title"><a href="#">Educational support</a></h3>
							<p class="help-them__text">Is only for 
Registered N.G.O, we support in building schools so that kids can have an affordable education</p>
							<div class="help-them__bottom">
								<a href="#" class="help-them__read-more">Read More</a>
								<a href="#" class="help-them__arrow"><span class="icon-right-arrow"></span></a>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
						<!--Help Theme Single-->
						<div class="help-them__single">
							<div class="help-them__icon help-them__icon-clr-secondary">
								<span class="icon-stethoscope"></span>
							</div>
							<h3 class="help-them__title"><a href="#">Medical Care</a></h3>
							<p class="help-them__text">We provide medical support , hospital equipment, buildings of hospital,and also supposed medical trip to abroad of our staffs,field workers and volunteers and also n.g.o.register with  beacon of hope</p>
							<div class="help-them__bottom">
								<a href="#" class="help-them__read-more">Read More</a>
								<a href="#" class="help-them__arrow"><span class="icon-right-arrow"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Help Theme End-->

		<!--Featured Campaigns Start-->
		<section class="featured-campaigns">
			<div class="container">
				<div class="section-title text-left">
					<span class="section-title__tagline">Help the people</span>
					<h2 class="section-title__title">Featured Campaigns</h2>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="featured-campaigns__carousel owl-theme owl-carousel">
							<!--Featured Campaigns Single-->
							<div class="featured-campaigns__single">
								<div class="featured-campaigns__content">
									<div class="featured-campaigns__category">
										<p>medical</p>
									</div>
									<h3 class="featured-campaigns__title">Contribute for the Poor People</h3>
									<p class="featured-campaigns__text">We Care about the well-being of African Needy Families. Take Action Now by Donating or Volunteering. We Care About Poverty. Destinations: Sponsor A Family, Adopt A Family.</p>
									<div class="featured-campaigns__progress">
										<div class="bar">
											<div class="bar-inner count-bar" data-percent="36%">
												<div class="count-text">36%</div>
											</div>
										</div>
										<div class="featured-campaigns__goals">
											<p><span>$25,270</span> Raised</p>
											<p><span>$30,000</span> Goal</p>
										</div>
									</div>
								</div>
								<div class="featured-campaigns__img">
									4:00pm 6:00pm
									New York
									￼
									20
									OCT
									
									Play for the World
									
									<img src="assets/images/resources/featured-campaigns-img.jpg" alt="">
									<div class="featured-campaigns__img-content">
										<p>Featured Campaign</p>
									</div>
								</div>
							</div>
							<!--Featured Campaigns Single-->
							<div class="featured-campaigns__single">
								<div class="featured-campaigns__content">
									<div class="featured-campaigns__category">
										<p>medical</p>
									</div>
									<h3 class="featured-campaigns__title">Contribute for the Poor African People</h3>
									<p class="featured-campaigns__text">Aellentesque porttitor lacus quis enim varius
										sed efficitur. There are many variations of passages of Lorem Ipsum available,
										but the majority have suffered alteration in some form, by injected....</p>
									<div class="featured-campaigns__progress">
										<div class="bar">
											<div class="bar-inner count-bar" data-percent="36%">
												<div class="count-text">36%</div>
											</div>
										</div>
										<div class="featured-campaigns__goals">
											<p><span>$25,270</span> Raised</p>
											<p><span>$30,000</span> Goal</p>
										</div>
									</div>
								</div>
								<div class="featured-campaigns__img">
									<img src="assets/images/resources/featured-campaigns-img-2.jpg" alt="">
									<div class="featured-campaigns__img-content">
										<p>Featured Campaign</p>
									</div>
								</div>
							</div>
							<!--Featured Campaigns Single-->
							<div class="featured-campaigns__single">
								<div class="featured-campaigns__content">
									<div class="featured-campaigns__category">
										<p>medical</p>
									</div>
									<h3 class="featured-campaigns__title">Contribute for the Poor African People</h3>
									<p class="featured-campaigns__text">Aellentesque porttitor lacus quis enim varius
										sed efficitur. There are many variations of passages of Lorem Ipsum available,
										but the majority have suffered alteration in some form, by injected....</p>
									<div class="featured-campaigns__progress">
										<div class="bar">
											<div class="bar-inner count-bar" data-percent="36%">
												<div class="count-text">36%</div>
											</div>
										</div>
										<div class="featured-campaigns__goals">
											<p><span>$25,270</span> Raised</p>
											<p><span>$30,000</span> Goal</p>
										</div>
									</div>
								</div>
								<div class="featured-campaigns__img">
									<img src="assets/images/resources/featured-campaigns-img-3.jpg" alt="">
									<div class="featured-campaigns__img-content">
										<p>Featured Campaign</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Featured Campaigns End-->

		<!--We Use Start-->
		<section class="we-use">
			<div class="we-use-bg-box">
				<div class="we-use-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
					style="background-image: url(assets/images/backgrounds/we-use-bg.jpg);"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="we-use__inner">
							<div class="we-use__icon">
								<img src="assets/images/icon/we-use-icon.png" class="zoom-fade" alt="">
							</div>
							<div class="we-use__title-box">
								<h2 class="we-use__title">We Use the Support of <span class="odometer"
										data-count="34500">0</span>
									<br> People to Help Others</h2>
							</div>
							<a href="#" class="thm-btn we-use__btn">Discover More</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--We Use End-->

		<!--Gallery Two Start-->
		<section class="gallery-two">
			<div class="gallery-two__container">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
						<!--Gallery Two Single-->
						<div class="gallery-two__single">
							<div class="gallery-two__img-box">
								<img src="assets/images/gallery/gallery-2-1.jpg" alt="">
							</div>
							<div class="gallery-two__img-overly">
								<div class="gallery-two__icon-bg">
									<img src="assets/images/shapes/gallery-shape.png" alt="">
								</div>
								<a class="img-popup" href="assets/images/gallery/gallery-2-1.jpg">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
						<!--Gallery Two Single-->
						<div class="gallery-two__single">
							<div class="gallery-two__img-box">
								<img src="assets/images/gallery/gallery-2-2.jpg" alt="">
							</div>
							<div class="gallery-two__img-overly">
								<div class="gallery-two__icon-bg">
									<img src="assets/images/shapes/gallery-shape.png" alt="">
								</div>
								<a class="img-popup" href="assets/images/gallery/gallery-2-2.jpg">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
						<!--Gallery Two Single-->
						<div class="gallery-two__single">
							<div class="gallery-two__img-box">
								<img src="assets/images/gallery/gallery-2-3.jpg" alt="">
							</div>
							<div class="gallery-two__img-overly">
								<div class="gallery-two__icon-bg">
									<img src="assets/images/shapes/gallery-shape.png" alt="">
								</div>
								<a class="img-popup" href="assets/images/gallery/gallery-2-3.jpg">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
						<!--Gallery Two Single-->
						<div class="gallery-two__single">
							<div class="gallery-two__img-box">
								<img src="assets/images/gallery/gallery-2-4.jpg" alt="">
							</div>
							<div class="gallery-two__img-overly">
								<div class="gallery-two__icon-bg">
									<img src="assets/images/shapes/gallery-shape.png" alt="">
								</div>
								<a class="img-popup" href="assets/images/gallery/gallery-2-4.jpg">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Gallery Two End-->

		<!--Events Start-->
		<section class="events" id="events">
			<div class="container">
				<div class="section-title text-center">
					<span class="section-title__tagline">ready to help them</span>
					<h2 class="section-title__title">Join Upcoming Events</h2>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
						<!--Events Single-->
						<div class="events__single">
							<div class="events__img">
								<img src="assets/images/resources/events-img-1.jpg" alt="">
								<div class="events__date">
									<p>20 <br> oct</p>
								</div>
							</div>
							<div class="events__content">
								<h3 class="events__title"><a href="#">Hand for Children</a></h3>
								<ul class="list-unstyled events__meta">
									<li><i class="far fa-clock"></i>4:00pm 6:00pm</li>
									<li><i class="fas fa-map-marker-alt"></i>New York</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
						<!--Events Single-->
						<div class="events__single">
							<div class="events__img">
								<img src="assets/images/resources/events-img-2.jpg" alt="">
								<div class="events__date">
									<p>20 <br> oct</p>
								</div>
							</div>
							<div class="events__content">
								<h3 class="events__title"><a href="#">Play for the World</a></h3>
								<ul class="list-unstyled events__meta">
									<li><i class="far fa-clock"></i>4:00pm 6:00pm</li>
									<li><i class="fas fa-map-marker-alt"></i>New York</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
						<!--Events Single-->
						<div class="events__single">
							<div class="events__img">
								<img src="assets/images/resources/events-img-3.jpg" alt="">
								<div class="events__date">
									<p>20 <br> oct</p>
								</div>
							</div>
							<div class="events__content">
								<h3 class="events__title"><a href="#">Get Inspire and Help</a></h3>
								<ul class="list-unstyled events__meta">
									<li><i class="far fa-clock"></i>4:00pm 6:00pm</li>
									<li><i class="fas fa-map-marker-alt"></i>New York</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Events End-->

		<!--Testimonial Three Start-->
		<section class="testimonial-two testimonial-three" id="testimonials">
			<div class="testimonial-two-bg"
				style="background-image: url(assets/images/backgrounds/testimonial-two-bg.png);"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-4">
						<div class="testimonial-two__left">
							<div class="section-title text-left">
								<span class="section-title__tagline">our testimonials</span>
								<h2 class="section-title__title">What They’re Talking About Us?</h2>
							</div>
						</div>
					</div>
					<div class="col-xl-8">
						<div class="testimonial-two__right">
							<div class="testimonial-two__carousel owl-carousel owl-theme">
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">It is wonderful initiative materialization of a great thought needs a lot of energy, heartful service, selfless social service leads to better society. I shall support these types of NGOs with unique model of AIM</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Kevin Martin</h5>
											<p class="testimonial-two__client-title">Medical Doctor</p>
										</div>
									</div>
								</div>
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">Great to see such good work done in the community.</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Jonathan Felicity</h5>
											<p class="testimonial-two__client-title">Software engineer</p>
										</div>
									</div>
								</div>
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
											consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
											et dolore magna aliqua.</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Kevin Martin</h5>
											<p class="testimonial-two__client-title">Customer</p>
										</div>
									</div>
								</div>
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
											consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
											et dolore magna aliqua.</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Sarah Albert</h5>
											<p class="testimonial-two__client-title">Customer</p>
										</div>
									</div>
								</div>
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
											consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
											et dolore magna aliqua.</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Kevin Martin</h5>
											<p class="testimonial-two__client-title">Customer</p>
										</div>
									</div>
								</div>
								<!--Testimonial Two Single-->
								<div class="testimonial-two__single">
									<div class="testimonial-two__content">
										<div class="testimonial-two__quote">
											<span class="icon-quote"></span>
										</div>
										<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
											consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
											et dolore magna aliqua.</p>
									</div>
									<div class="testimonial-two__client-info">
										<div class="testimonial-two__client-img">
											<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
										</div>
										<div class="testimonial-two__client-details">
											<h5 class="testimonial-two__client-name">Sarah Albert</h5>
											<p class="testimonial-two__client-title">Customer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Testimonial Three End-->
		<!--Helping Hands Start-->
		<section class="helping-hands">
			<div class="helping-hands-shape"
				style="background-image: url(assets/images/shapes/helping-hands-shape.png);"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-6">
						<div class="helping-hands__left">
							<div class="helping-hands-shape-2"><img src="assets/images/shapes/helping-hands-shape-2.png"
									class="float-bob-x " alt=""></div>
							<div class="section-title text-left">
								<span class="section-title__tagline">Becon of Hope Foundation</span>
								<h2 class="section-title__title">We’re Here to Help People in Need</h2>
							</div>
							<p class="helping-hands__text">There are many variations of passages of available, but the
								<br> majority have suffered alteration in some form. Ntium voluum <br> deleniti atque
								corrupti quos.</p>
							<div class="helping-hands__progress-wrap">
								<div class="helping-hands__progress">
									<div class="helping-hands__progress-box">
										<div class="circle-progress"
											data-options='{ "value": 0.9,"thickness": 4,"emptyFill": "#f2f0ec","lineCap": "square", "size": 138, "fill": { "color": "#ff5528" } }'>
										</div><!-- /.circle-progress -->
										<span>90%</span>
									</div>
									<div class="helping-hands__progress-content">
										<h3>Fund Raised</h3>
									</div>
								</div>
								<div class="helping-hands__progress">
									<div class="helping-hands__progress-box">
										<div class="circle-progress"
											data-options='{ "value": 0.5,"thickness": 3,"emptyFill": "#f2f0ec","lineCap": "square", "size": 138, "fill": { "color": "#ff5528" } }'>
										</div><!-- /.circle-progress -->
										<span>50%</span>
									</div><!-- /.about-five__progress-box -->
									<div class="helping-hands__progress-content">
										<h3>New Campaigns</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="helping-hands__right">
							<div class="helping-hands__img wow slideInRight" data-wow-delay="100ms"
								data-wow-duration="2500ms">
								<img src="assets/images/resources/helping-hands-img-1.jpg" alt="">
								<div class="helping-hands__donation">
									<div class="helping-hands__donation-icon">
										<span class="icon-charity-1"></span>
									</div>
									<h4 class="helping-hands__donation-content">Donation can help change a life</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Helping Hands End-->

		<!--FAQs Page Start-->
        <section class="paq-page" id="faq">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-page__single">
                            <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>Beacon of Hope Foundation aim and objectives.</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>We the Becon of Hope Foundation intend to help individuals and support  them and also improve the state of living.we want to empower alot of people and give their life a meaning.
                                            </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>What we do</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>We give financial support,we give educational support, medical supplies and empowerment to individuals and grass root N.G.O
                                            </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion last-chiled">
                                    <div class="accrodion-title">
                                        <h4>HOW To Registered Grass Roots N.G.O</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>Registration of other N.G.O is free,but the N.G.O must Have a complusary savings of 1500 dollars  to prove the have done their own contribution to their N.G.O., the N.G.O who wants to register will pay a token for the registration.The money would be refunded within a minimum of two weeks and maximum of 2month, depending on the field staff investigation and confirmation.we keep the money with our field staffs incarge of registration till when the first disbursement is made, everything use for registration will be given back to the N.G.O and we give all our support
                                            </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-page__single">
                            <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-2">
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>GRASS ROOT N.G.O that are beneficiaries of Becon of Hope Foundation</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <ul>
                                            	<li>Feed the nation Nigeria</li>
                                            	<li>Save nature Sudan</li>
                                            	<li>Ecde niger</li>
                                            	<li>Hausawa support Trilanai Kaduna</li>
                                            	<li>Save a child akwanga</li>
                                            	<li>Child support Malawi and many others</li>
                                            </ul>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <!--  -->
                                <div class="accrodion last-chiled">
                                    <div class="accrodion-title">
                                        <h4>About Us</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>Beacon of hope started in 2006,by Late Bernard Freeman from the united state  in Georgia,who brought his friends who are also well to do so that the can assist people in Africa,Mr Freeman never had a child and wanted his fortune to be given to people without hope,some of his friends buy the idea,and supported his ideas by supporting him financially.Beacon of hope was registered with the civil society policy united nations which permit him to offer help to Africa. Beacon of hope foundation was incorporated to Nigeria  in 2014, during the bokoharam crisis in Kautukari/Mbalala district of Chibok L.G.A Many philanthropist have come together to fund Beacon of hope because of transpiracy.Beacon of hope have supported Africa countries like south Sudan,Mali,niger, Malawi,Beacon of hope have help grass root non governmental organization to stand strong because it's only help in crisis areas
                                            </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--FAQs Page End-->

        <!--Message One Start-->
        <section class="message-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Contact with us</span>
                    <h2 class="section-title__title">Still Have Question?</h2>
                </div>
                <div class="message-one__inner">
                    <form action="#" class="comment-one__form contact-form-validated"
                        novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Your Name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address" name="email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Subject" name="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box text-message-box">
                                    <textarea name="message" placeholder="Write a Comment"></textarea>
                                </div>
                                <div class="message-one__btn-box">
                                    <button type="submit" class="thm-btn comment-form__btn">Send us a message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--Message One End-->
        
        <!--About Page End-->
		<!--Site Footer Start-->
		<footer class="site-footer">
			<div class="site-footer-bg" style="background-image: url(assets/images/backgrounds/site-footer-bg.jpg);">
			</div>
			<div class="site-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
							<div class="footer-widget__column footer-widget__about">
								<div class="footer-widget__about-text-box">
									<p class="footer-widget__about-text">Your Donations can Change their Daily Life
										Style</p>
								</div>
								<a href="#" class="donate-btn footer-donate__btn"> <i
										class="fa fa-heart"></i>
									Donate Now</a>
							</div>
						</div>
						<div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
							<div class="footer-widget__column footer-widget__links clearfix">
								<h3 class="footer-widget__title">Links</h3>
								<ul class="footer-widget__links-list list-unstyled clearfix">
									<li><a href="#>Recent Causes</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">New Campaign</a></li>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Events</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
							<div class="footer-widget__column footer-widget__non-profit clearfix">
								<h3 class="footer-widget__title">Non Profit</h3>
								<ul class="footer-widget__non-profit-list list-unstyled clearfix">
									<li><a href="#">Differently Abled Kids</a></li>
									<li><a href="#">Help Child Cancer</a></li>
									<li><a href="#">Clean Pure Water</a></li>
									<li><a href="#">Give them Education</a></li>
									<li><a href="#">Start a Fundraising</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
							<div class="footer-widget__column footer-widget__contact clearfix">
								<h3 class="footer-widget__title">Contact</h3>
								<ul class="list-unstyled footer-widget__contact-list">
									<li>
										<div class="icon">
											<span class="icon-email"></span>
										</div>
										<div class="text">
											<a href="mailto:needhelp@bhf.com.ng">needhelp@bhf.com.ng</a>
										</div>
									</li>
									<li>
										<div class="icon">
											<span class="icon-telephone"></span>
										</div>
										<div class="text">
											<a href="tel:+2349077410095">+2349077410095</a>
										</div>
									</li>
									<li>
										<div class="icon">
											<span class="icon-pin"></span>
										</div>
										<div class="text">
											<ul>
												<li>Gorgia united state of America.
</li>
<li>Kautukari ward chibok lga borno state Nigeria
</li>
<li>Ungwan bawa Kano state Nigeria
</li>
<li>Trikania Kaduna state Nigeria.</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-footer__bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="site-footer__bottom-inner">
								<p class="site-footer__bottom-text">© Copyright 2022 by <a href="#home">Becon of Hope Foundation</a>
								</p>
								<div class="site-footer__social">
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-facebook"></i></a>
									<a href="#"><i class="fab fa-pinterest-p"></i></a>
									<a href="#"><i class="fab fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--Site Footer End-->


	</div><!-- /.page-wrapper -->


	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

			<div class="logo-box">
				<a href="#" aria-label="logo image"><img src="assets/images/resources/logo-2.png" alt="" /></a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:needhelp@bhf.com.ng">needhelp@bhf.com.ng</a>
				</li>
				<li>
					<i class="fa fa-phone-alt"></i>
					<a href="tel:+2349077410095">+2349077410095</a>
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<div class="mobile-nav__top">
				<div class="mobile-nav__social">
					<a href="#" class="fab fa-twitter"></a>
					<a href="#" class="fab fa-facebook-square"></a>
					<a href="#" class="fab fa-pinterest-p"></a>
					<a href="#" class="fab fa-instagram"></a>
				</div><!-- /.mobile-nav__social -->
			</div><!-- /.mobile-nav__top -->



		</div>
		<!-- /.mobile-nav__content -->
	</div>
	<!-- /.mobile-nav__wrapper -->

	<div class="search-popup">
		<div class="search-popup__overlay search-toggler"></div>
		<!-- /.search-popup__overlay -->
		<div class="search-popup__content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- /.sr-only -->
				<input type="text" id="search" placeholder="Search Here..." />
				<button type="submit" aria-label="search submit" class="thm-btn">
					<i class="icon-magnifying-glass"></i>
				</button>
			</form>
		</div>
		<!-- /.search-popup__content -->
	</div>
	<!-- /.search-popup -->

	<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


	<script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
	<script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendors/jarallax/jarallax.min.js"></script>
	<script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
	<script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
	<script src="assets/vendors/nouislider/nouislider.min.js"></script>
	<script src="assets/vendors/odometer/odometer.min.js"></script>
	<script src="assets/vendors/swiper/swiper.min.js"></script>
	<script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
	<script src="assets/vendors/wnumb/wNumb.min.js"></script>
	<script src="assets/vendors/wow/wow.js"></script>
	<script src="assets/vendors/isotope/isotope.js"></script>
	<script src="assets/vendors/countdown/countdown.min.js"></script>
	<script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
	<script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="assets/vendors/vegas/vegas.min.js"></script>
	<script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
	<script src="assets/vendors/timepicker/timePicker.js"></script>




	<!-- template js -->
	<script src="assets/js/pifoxen.js"></script>
</body>

</html>